<div class="home">
    <div class="home-center">
        <div class="home-title">
            <p>Sky</p><br>
            <p>Shopping</p>
        </div>
        <div class="home-btn-section">
            <button class="btn-home-login" type="button" mat-button (click)="onLogin()">
                Login
              </button>
              <button class="btn-home-register" type="button" mat-button (click)="onRegistration()">
                Register
              </button>
              
        </div>
    </div>
</div>
