<div class="dashboard">
  <div class="dashboard-title">Recent LoggedIn Users</div>
  <input type="text" [(ngModel)]="chartTitle" placeholder="Enter chart title" />
  <app-chart #chart1>
    <p>{{ chartTitle }}</p>
    <p chartList>List</p>
    <p class="test">Test</p>
  </app-chart>
  <app-chart #chart2>
    <p>{{ chartTitle }}</p>
    <p chartList>List</p>
    <p class="test">Test</p>
  </app-chart>
  <div class="user-list">
    <ul *ngFor="let video of videoStream">
      <li>{{ video }}</li>
    </ul>
  </div>
  <div class="pipe-exponential">
    <h2>Power booster</h2>
    <input type="text" placeholder="Enter value" [(ngModel)]="value" />
    <input type="text" placeholder="Enter power" [(ngModel)]="power" />
    <p>super power boost: {{ value | exponentialStrength: power }}</p>
  </div>
  <div>
    <button (click)="refresh()">Refresh</button>
    <ul>
      <li *ngFor="let user of users; trackBy: trackByUser">{{ user.name }}</li>
    </ul>
  </div>
  <p>Async pipe: {{ message | async }}</p>
  <div class="subject-list">
    <h1>Subject List:</h1>
    <button (click)="changeSubject('behaviorSubject')">Behavior Subject</button>
    <button (click)="changeSubject('replaySubject')">Replay Subject</button>
    <ul>
      <li *ngFor="let user of userList">{{ user.name }}</li>
    </ul>
  </div>
</div>
