<div class="manage-location">
  <div class="manage-location-title">
    <p>Manage Location</p>
  </div>
  <div class="select-location-field">
    <mat-radio-group
      aria-label="Select an option"
      (change)="locationFieldChange($event.value)"
    >
      <mat-radio-button
        [value]="locationField"
        *ngFor="
          let locationField of locationFieldList;
          trackBy: trackLocationField
        "
        >{{ locationField }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div class="location-info">
    <div class="location-title">
      <p>{{ locationFieldValue }}</p>
    </div>
    <button class="location-add-btn" class="btn-blue" (click)="openDialog()">
      Add {{ locationFieldValue }}
    </button>
  </div>
  <div class="location-table">
    <table mat-table [dataSource]="sourceList" class="mat-elevation-z8">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchDefault>
            <td mat-cell *matCellDef="let location" class="location-key-link">
              {{ location[column] }}
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'edit'">
            <td
              mat-cell
              *matCellDef="let location"
              class="action-link"
              (click)="onEditLocation(location.key)"
            >
              <mat-icon>edit</mat-icon>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'delete'">
            <td
              mat-cell
              *matCellDef="let location"
              class="action-link"
              (click)="onDeleteLocation(location.key)"
            >
              <mat-icon>delete</mat-icon>
            </td>
          </ng-container>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  </div>
</div>
