.product-list {
  padding: 60px;
}

.product-list-title {
  display: flex;
  justify-content: space-between;
}

.product-list-title p {
  font-size: 40px;
  color: #1e2b58;
}

.search-result-section {
  display: flex;
  justify-content: space-between;
}

.product-search input {
  width: 100%;
}
