<app-loader></app-loader>
<div class="product-list">
  <div class="product-list-title">
    <p>Product List</p>
    <button
      class="btn-blue"
      type="button"
      mat-button
      (click)="onAddProduct()"
      *ngIf="role === 'admin'"
    >
      Add Product
    </button>
  </div>
  <div class="product-search">
    <form #searchForm="ngForm">
      <mat-form-field class="name-field" appearance="fill">
        <input
          type="text"
          matInput
          name="productSearch"
          placeholder="Search product by name"
          ngModel
        />
      </mat-form-field>
    </form>
  </div>
  <div class="search-result-section">
    <p class="search-result">Search Result</p>
    <p class="search-result-count">5 results found</p>
  </div>
  <div class="products" *ngIf="products.length > 0">
    <mat-grid-list cols="3" rowHeight="500px" gutterSize="15px">
      <mat-grid-tile *ngFor="let prod of products">
        <app-product
          [product]="prod"
          [role]="role"
          [userId]="userId"
        ></app-product>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="no-products" *ngIf="products.length === 0">
    <p>No Products are there</p>
  </div>
</div>
