<div class="chart">
  <ng-content></ng-content>
  <ng-content select="[chartList]"></ng-content>
  <ng-content select=".test"></ng-content>

  True:
  <div *ngIf="true; else elseBlock">Condition is true</div>
  False:
  <div *ngIf="false; else elseBlock">Condition is true</div>
  <ng-template #elseBlock>Condition is false</ng-template>
  <div class="memorization">
    <h1>{{ getTitle(framework) }}</h1>
    <button (click)="changeFramework()" class="change-framework">
      Change Framework
    </button>

    <h3>Count: {{ count }}</h3>
    <button (click)="increaseCount()" class="btn-increase">
      Increase Count
    </button>
  </div>
</div>
