<mat-card class="example-card">
  <img
    mat-card-image
    [src]="product.imageUrl"
    alt="product.name"
    (click)="onProductSelect(product._id)"
    class="skeleton"
  />
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.unitPrice }} Rs.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ product.description }}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="role === 'user'" class="user-product-action">
    <button mat-button class="btn-blue" (click)="addToCart(product._id)">
      Add To Cart
    </button>
  </mat-card-actions>
  <mat-card-actions *ngIf="role === 'admin'" class="admin-product-action">
    <button mat-button class="btn-blue" (click)="editProduct(product._id)">
      Edit
    </button>
    <button mat-button class="btn-blue" (click)="deletedProduct(product._id)">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
