<app-loader></app-loader>
<div class="checkout">
  <div class="checkout-title">
    <p>Checkout</p>
  </div>
  <div class="checkout-detail">
    <div class="checkout-info">
      <form [formGroup]="orderForm" (ngSubmit)="placeOrder(orderForm)">
        <div class="residential-info">
          <mat-form-field class="addressLine1-field" appearance="fill">
            <mat-label>Address line 1</mat-label>
            <input
              type="text"
              name="addressLine1"
              id="addressLine1"
              matInput
              formControlName="addressLine1"
              placeholder="Street 10"
            />
            <mat-error
              *ngIf="orderForm.get('addressLine1')!.hasError('required')"
            >
              Address Line1 is required filed
            </mat-error>
            <mat-error
              *ngIf="orderForm.get('addressLine1')!.hasError('minlength')"
            >
              Address Line1 must at least 3 character long
            </mat-error>
            <mat-error
              *ngIf="orderForm.get('addressLine1')!.hasError('maxlength')"
            >
              Address Line1 must not have more than 20 characters
            </mat-error>
          </mat-form-field>

          <mat-form-field class="addressLine1-field" appearance="fill">
            <mat-label>Address line 2</mat-label>
            <input
              type="text"
              name="addressLine2"
              id="addressLine2"
              matInput
              formControlName="addressLine2"
              placeholder="Street 10"
            />
            <mat-error
              *ngIf="orderForm.get('addressLine2')!.hasError('required')"
            >
              Address Line2 is required filed
            </mat-error>
            <mat-error
              *ngIf="orderForm.get('addressLine2')!.hasError('minlength')"
            >
              Address Line2 must at least 3 character long
            </mat-error>
            <mat-error
              *ngIf="orderForm.get('addressLine2')!.hasError('maxlength')"
            >
              Address Line2 must not have more than 20 characters
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select
              formControlName="country"
              required
              (selectionChange)="changeCountry($event.value)"
            >
              <mat-option *ngFor="let country of countryList" [value]="country">
                {{ country }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="orderForm.get('country')!.hasError('required')"
              >Country is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select
              formControlName="state"
              required
              (selectionChange)="changeState($event.value)"
            >
              <mat-option *ngFor="let state of stateList" [value]="state">
                {{ state }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="orderForm.get('state')!.hasError('required')"
              >State is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>District</mat-label>
            <mat-select
              formControlName="district"
              required
              (selectionChange)="changeDistrict($event.value)"
            >
              <mat-option
                *ngFor="let district of districtList"
                [value]="district"
              >
                {{ district }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="orderForm.get('district')!.hasError('required')"
              >District is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <mat-select formControlName="city" required>
              <mat-option *ngFor="let city of cityList" [value]="city">
                {{ city }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="orderForm.get('city')!.hasError('required')"
              >City is required</mat-error
            >
          </mat-form-field>

          <mat-form-field class="postalCode-field" appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input
              type="text"
              name="postalCode"
              id="postalCode"
              matInput
              formControlName="postalCode"
              placeholder="362261"
            />
            <mat-error
              *ngIf="orderForm.get('postalCode')!.hasError('required')"
            >
              Postal Code is required filed
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Payment Method</mat-label>
            <mat-select
              formControlName="paymentMethod"
              required
              (selectionChange)="paymentMethodChange($event.value)"
            >
              <mat-option
                *ngFor="let paymentMethod of paymentMethodList"
                [value]="paymentMethod"
              >
                {{ paymentMethod }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="orderForm.get('paymentMethod')!.hasError('required')"
              >Payment method is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="payment-info">
          <div class="payment-title">
            <p>Payment Information</p>
          </div>
          <mat-form-field class="fullName-field" appearance="fill">
            <mat-label>Full Name</mat-label>
            <input
              type="text"
              name="fullName"
              id="fullName"
              matInput
              formControlName="fullName"
              placeholder="Tina Rameshbhai Chavda"
            />
            <mat-error *ngIf="orderForm.get('fullName')!.hasError('required')">
              FullName is required filed
            </mat-error>
            <mat-error *ngIf="orderForm.get('fullName')!.hasError('minlength')">
              FullName must at least 3 character long
            </mat-error>
            <mat-error *ngIf="orderForm.get('fullName')!.hasError('maxlength')">
              FullName must not have more than 20 characters
            </mat-error>
          </mat-form-field>

          <div id="card-element" class="field"></div>
        </div>
        <button
          class="btn-checkout"
          mat-raised-button
          color="primary"
          [disabled]="!orderForm.valid"
        >
          Place Order
          {{
            orderForm.get("paymentMethod")!.value !== "Cash on Delivery"
              ? "& Create Payment"
              : ""
          }}
        </button>
      </form>
    </div>
    <div class="order-summary">
      <div class="order-summary-title">
        <p>Order Summary</p>
      </div>
      <div class="order-item-info">
        <mat-card class="example-card" *ngFor="let item of orderSummary.items">
          <mat-card-title-group>
            <mat-card-title>{{ item.product.name }}</mat-card-title>
            <mat-card-subtitle
              >Price: {{ item.product.unitPrice }} INR</mat-card-subtitle
            >
            <mat-card-subtitle>Qty: {{ item.quantity }}</mat-card-subtitle>
            <img
              mat-card-sm-image
              [src]="item.product.imageUrl"
              class="skeleton"
            />
          </mat-card-title-group>
        </mat-card>
        <div class="order-price">
          <p>Order Price :</p>
          <p>{{ orderSummary.totalPrice || 0 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
